---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Gallery.astro";

const album = await getCollection("album");
---

<PageLayout meta={{ title: "Gallery" }}>
	<h1 class="title mb-6">Gallery</h1>
	<div class="p-8">
		<div class="container mx-auto grid max-w-screen-sm grid-cols-2 gap-8">
			{
				album.map((item) => (
					<a href={`/gallery/${item.id}`} class="group mb-4 block transition-all">
						<Image
							src={item.data.cover}
							alt={item.data.title}
							format="avif"
							width={720}
							quality="mid"
							class:list={[
								"rounded-lg transition-all",
								"group-hover:opacity-90 group-hover:shadow-lg",
							]}
						/>
						<div class="mt-4 text-center text-neutral-700">
							<strong class="prose prose-cactus font-normal">{item.data.title}</strong>
							<p class="prose prose-cactus text-xs">{item.data.description}</p>
						</div>
					</a>
				))
			}
		</div>
	</div>
</PageLayout>
